@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --main-color:#d3ab7f;
    --black:#13131a;
    --bg:#010103;
    --border: 1rem solid rgba(255, 255, 255, .3);
}
*{
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline: none;
    border:none;
    text-transform: capitalize;
    transition: .2s linear;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;

}
html::-webkit-scrollbar{
width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
 }

html::-webkit-scrollbar-thumb{
    background: var(--main-color);
    border-radius: 5rem;
 }

 body{
    background: var(--bg);
 }

 section{
    padding: 2rem 7%;
 }


 .heading{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
 }
 .heading span{

    color: var(--main-color);
    text-transform: uppercase;

 }
 .btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7 rem;
    color: #fff;
    background: var(--main-color);
    cursor: pointer;
 }

 .btn:hover{
    letter-spacing: .2rem;
 }
 .header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position:fixed;
    top:0;
    left:0;
    right: 0;
    z-index: 1000;
 }

 .header .logo img{
    height:6rem;
 }

 .header .navbar a{
    margin:0 1rem;
    font-size:1.6rem;
    color:#fff;
    text-decoration: none ;
   

 }
 .header .navbar a:hover{
    color:var(--main-color);
    border-bottom: 1.rem solid var(--main-color);
    padding-bottom: .5rem;
 }


 .header .icons div{
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;

 }
 .header .icons div:hover{
    color:var(--main-color);
 }
 
 #menu-btn{
    display: none;
 }
 .header .search-form{
    position: absolute;
    top: 115%;
    right:7%;
    background: #151010;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
    
 }

 .header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
 }
 .header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black);
 }
 .header .search-form label:hover{
  color: var(--main-color);

 }
 .header .cart-items-container{
    position: absolute;
    top: 100%;
    right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: #fff;
    padding: 0 1.5rem;
 }
 .translate{
   position: absolute;
   top: 8%;
   right: 15%;

 
 }
#translate-btn{
   margin-top: 1rem;
    display: inline-block;
    padding: .8rem 2rem;
    font-size: 1.5 rem;
    color: #fff;
    background: var(--main-color);
    cursor: pointer;
  



}
 .header .cart-itens-container .cart-item{
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap:1.5rem;
 }
 .header .cart-items-container .cart-item .fa-times{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
 }

 .header .cart-items-container .cart-item .fa-times:hover{
    color: var(--main-color);

 }
 .header .cart-items-container .cart-item img{
    height:7rem;

 }
 .header .cart-items-container .cart-item .content h3{
    font-size: 2rem;
    color:var(--black);
    padding-bottom: .5rem;

 }

 .header .cart-items-container .cart-item .content .price{
    font-size: 1.5rem;
    color:var(--main-color);
    
 }
 .header .cart-items-container .btn{
    width: 100%;
    text-align: center;
 }

 .home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background:url(home.png)  no-repeat;
    background-size: cover;
    background-position: center;
 }

 .home .content{
    max-width: 60rem;
 }

 .home .content h4{
    font-size: 6rem;
    text-transform: uppercase;
    color: #fff;
 }
 .home .content h2{
    font-size: 10rem;
    text-transform: uppercase;
    color: #4f3434;
   
 }

 .home .content p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color: #fff;
 }

 
 .about .row{
    display: flex;
    align-items: center;
    background: var(--black);
    flex-wrap: wrap;

 }

 .about .row .image{
    flex: 1 1 45rem;

 }
 .about .row .image img{
    width: 100%;
 }
 .about .row .content{
    flex: 1 1 45rem;
    padding: 2rem;

 }
 .about .row .content h3{
    font-size: 3rem;
    color: #fff;
 }
 .about .row .content p{
    font-size: 1.6rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: #eee;

 }
 .menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(40rem,1fr));
    gap: 1.5rem;
 }
 .menu .box-container .box{
    padding: 5rem;
    text-align: center;
    border: var(--border);
 }
 .menu .box-container .box img{
    height: 10rem;
 }
 .menu .box-container .box h3{
    color: var(--main-color);
    font-size: 2rem;
    padding: 1rem 0;
 }

 .menu .box-container .box .price{
    color: var(--main-color);
    font-size: 2.5rem;
    padding: 5rem 0;
 }
 .menu .box-container .box span{
    color: var(#fff);
    font-size: 2.5rem;
    padding: 5rem 0;
 }
 .menu .box-container .box .price span{
    font-size: 2rem;
    text-decoration: line-through;
 }
 
 .menu .box-container .box:hover{
   background: #fff;
 }

 .customers .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(42rem,1fr));
    gap: 1rem;

 }

 .customers .box-container .box{
    border: var(--border);
    text-align: center;
    padding:3rem 2rem;

 }
 .customers .box-container .box p{
    font-size: 1.6rem;
    line-height: 1.8;
    color: #ccc;
    padding: 2rem 0;
 }
 .customers .box-container .box .user{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
 }
 .customers .box-container .box h3{
    padding: 1rem 0;
    font-size: 2rem;
    color: #fff;
 
 }
 .customers .box-container .box .stars i{
    padding: 1rem 0;
    font-size: 2rem;
    color: #fff;
 }
 .menu .box-container .box .stars i{
    padding: 1rem 0;
    font-size: 2rem;
    color: #fff;
 }
 .pay{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: var(--bg);
    bottom: 0%;
 }


 .pay .container{
   height: 103vh;
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;

 }
 .pay .container .title{
    font-size: 25px;
    font-weight: 500;

 }

 .pay .container .title::before{
    content: "";
    position: absolute;
    height: 3px;
    width: 30px;
    bottom: 0;
    background: #13131a;
    left: 0;
 }
 .pay .container form .user-details{
    display: flex;
    flex-wrap: wrap;
    font-size: 1.3rem;
    margin: 20px 0 12px 0; 

 }
 .pay .container form .user-details .input-box{
    margin-bottom: 15px;
    width:calc(100% / 2-20px);

 }
 
 .pay .container form .user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px;
    padding-left: 15px;
    font-size: 16px;
 }

 .user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
 }

 .pay .container form .card .card-type{
    font-size: 20px;
    font-weight: 500;

 }
 form .card {
    width: 80%;
    display: flex;
    margin: 14px 0;

    justify-content: space-between;

 }
form .button{

    height: 45px;
    margin: 45px 0;
}
form .button input{
    height: 100%;
    border: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    width: 100%;
    border-radius: 1px;
    outline:none;
    color:#010103;
}
form .button1{

   height: 45px;
   margin: 45px 0;
   cursor: pointer;
}
form .button1:hover{
   letter-spacing: .2rem;
}

form .button1 input{
   height: 100%;
   border: none;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   width: 100%;
   border-radius: 1px;
   outline:none;
   color: #010103;
}
form .button2{

   height: 45px;
   margin: 45px 0;
}
form .button2 input{
   height: 100%;
   border: none;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   width: 100%;
   border-radius: 1px;
   outline:none;
   color: #010103;
}
form .button3{

   height: 45px;
   margin: 45px 0;
}
form .button3 input{
   height: 100%;
   border: none;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   width: 100%;
   border-radius: 1px;
   outline:none;
   color: #010103;
}
.whats {
   color: #fff;
   font-size: large;
   text-align: center ;
  text-decoration:double;
}



.scene {
	width: 200px;
	height: 200px;
	perspective: 600px;
	margin: 100px auto;
}
.cube-container {
	display: flex;
	justify-content: center; 
	align-items: center; 
	height: 100vh;
}
.cube {
	width: 200px;
	height: 200px;
	display: flex;
	position: relative;
	top: -40%; 
	left: 20%;
	transform-style: preserve-3d;
	transform: rotateX(-30deg) rotateY(-45deg);
	transition: transform 4s;
}

	.cube .face {
		position: absolute;
		width: 100%;
		height: 100%;
		background-size: cover;
		border: 1px solid #333;
	}
		.cube .face.front {
			transform: translateZ(100px);
			background-image: url('p1.png');
		}
		.cube .face.back {
			transform: rotateY(180deg) translateZ(100px);
			background-image: url('p7.png');
		}
		.cube .face.right {
			transform: rotateY(90deg) translateZ(100px);
			background-image: url('p3.png');
		}
		.cube .face.left {
			transform: rotateY(-90deg) translateZ(100px);
			background-image: url('p5.png');
		}
.cube .face.top {
	transform: rotateX(90deg) translateZ(100px);
   background-image: url('p6.png');
   
}
.cube .face.bottom {
	transform: rotateX(-90deg) translateZ(100px);
}
.scene:hover .cube {
	transform: rotateX(0deg) rotateY(360deg);
}
.remove-bar input{
   background-color: #ccc;
}
